---
- name: Check if Zsh is installed
  ansible.builtin.command:
    cmd: which zsh
  register: zsh_check
  failed_when: false
  changed_when: false

- name: Install Zsh package
  ansible.builtin.package:
    name: zsh
    state: present
  become: true
  when: zsh_check.rc != 0

- name: Check if git is installed
  ansible.builtin.command:
    cmd: which git
  register: git_check
  failed_when: false
  changed_when: false

- name: Install git package
  ansible.builtin.package:
    name: git
    state: present
  become: true
  when: git_check.rc != 0

- name: Check if Oh My Zsh is already installed
  ansible.builtin.stat:
    path: "{{ ohmyzsh_dir }}"
  register: ohmyzsh_stat

- name: Clone Oh My Zsh repository to home directory
  ansible.builtin.git:
    repo: "{{ ohmyzsh_repo }}"
    dest: "{{ ohmyzsh_dir }}"
    version: master
    depth: 1
    update: true
  when: not ohmyzsh_stat.stat.exists

- name: Include custom plugins setup tasks
  ansible.builtin.include_tasks: custom_plugins.yml

- name: Include zshrc setup tasks
  ansible.builtin.include_tasks: zshrc.yml
  when: replace_zshrc

- name: Change default shell to Zsh
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    shell: /bin/zsh
  become: true
  when: change_shell
