- name: Check for existing .zshrc
  ansible.builtin.stat:
    path: "{{ zshrc_template }}"
  register: zshrc_stat

- name: Backup existing .zshrc if it exists
  ansible.builtin.copy:
    src: "{{ zshrc_template }}"
    dest: "{{ zshrc_template }}.pre-oh-my-zsh"
    mode: "0644"
    remote_src: true
  when: zshrc_stat.stat.exists

- name: Copy Oh My Zsh template .zshrc
  ansible.builtin.copy:
    src: "{{ role_path }}/templates/zshrc.j2"
    dest: "{{ zshrc_template }}"
    mode: "0644"
    # remote_src: true
  when: not zshrc_stat.stat.exists

- name: Ensure .zshrc ownership
  ansible.builtin.file:
    path: "{{ zshrc_template }}"
    owner: "{{ ansible_facts['env']['USER'] }}"
    group: "{{ ansible_facts['env']['USER'] }}"
    mode: "0644"
